<div class="bg-gray-200 p-8">
    <h2 class="text-2xl font-thin">Get The FrechCart App</h2>
    <p class="font-thin text-gray-600">We will send you link, open it on your phone to download app</p>


    <form class="flex items-center mx-auto my-3">
        <label for="app-link" class="sr-only">Share App Link</label>
        <div class="relative w-[85%]">
            <input type="text" id="app-link"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                placeholder="Email..." required />
        </div>
        <button type="submit"
            class="py-2.5 px-3 ms-2 text-sm font-medium text-white bg-green-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Share App Link
        </button>
    </form>


    <div class="my-8 w-full h-[0.5px] bg-gray-300"></div>
    <div class="flex justify-between flex-col gap-8 items-center lg:flex-row">
        <div class="payment flex gap-3 items-center">
            <p>payment parteners</p>
            <img class="w-[60px]" src="/images/amazon-pay.png" alt="amazon">
            <img class="w-[60px]" src="/images/American-Express-Color.png" alt="American-Express">
            <img class="w-[60px]" src="/images/mastercard.webp" alt="mastercard">
            <img class="w-[60px]" src="/images/paypal.png" alt="paypal">
        </div>
        <div class="payment flex gap-3 items-center">
            <p>Get deleviries with freshcart</p>
            <img class="w-[100px]" src="/images/get-apple-store.png" alt="apple store">
            <img class="w-[100px]" src="/images/get-google-play.png" alt="google play">
        </div>
    </div>
    <div class="mt-8 w-full h-[0.5px] bg-gray-300"></div>

</div>